{% load static %}
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <a href="#"><img src="{% static "img/avatar.jpg" %}" alt="avatar" class="rounded-circle"></a>
        <a href="#">*Username*</a>
        <span class="text-muted"> answers:</span>
        {% if answer.correct == 'true' %}
          <i class="fas fa-check float-right h2 text-success"></i>
        {% endif %}
      </div>
      <div class="card-body">
        <p class="card-text">{{ answer.text }}</p>
      </div>
      <div class="card-footer text-muted">
        <div class="row mt-0">
          <div class="col-md-9">
            Posted {{ answer.dateTime|timesince }} ago.
            <!-- data-toggle="button" aria-pressed="false" autocomplete="off" https://getbootstrap.com/docs/4.0/components/buttons/#toggle-states -->
            <button type="button" data-toggle="button" class="btn btn-outline-danger btn-sm float-right mr-2">
              <i class="far fa-thumbs-down"></i>{{ question.dislikes }}
            </button>
            <button type="button" data-toggle="button" class="btn btn-outline-success btn-sm float-right mr-2">
              <i class="far fa-thumbs-up"></i>{{ question.likes }}
            </button>
            <!-- <a href="#" class="btn btn-sm text-danger float-right mr-2"><i class="far fa-thumbs-down"></i>{{ answer.dislikes }}</a> 
            <a href="#" class="btn btn-sm text-success float-right mr-2"><i class="far fa-thumbs-up"></i>{{ answer.likes }}</a> -->
          </div>
          <div class="col-md-3">
            {% if answer.correct == 'true' %}
              <button type="button" class="btn btn-success btn-sm float-right mr-2">Correct</button>
            {% else %}
              <button type="button" class="btn btn-danger btn-sm float-right mr-2">Incorrect</button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>