{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
  <link rel="stylesheet" href="{% static "css/qSite.css" %}">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/static/img/site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title>
    {% block title %}
    qSite
    {% endblock title %}
  </title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light border rounded-bottom">
      <a href="{% url 'index' %}" class="navbar-brand"><img src="{% static "img/logo.png" %}" alt="logo" height="42" width="42"></a>
      <a class="navbar-brand mr-auto" href="{% url 'index' %}">Response-Ask</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link active ml-5" href="{% url 'index' %}">Questions</a>
          </li>
          <li class="nav-item active">
            <a class="btn btn-success navbar-btn ml-2" href="{% url 'newQuestion' %}">Ask!</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-5 w-100 justify-content-center">
          <form class="form-inline mt-2 mt-md-0" method="get" action="{% url 'search' %}">
            <input class="form-control mr-sm-2" type="text" placeholder="Search..." aria-label="Search" name="q">
            <button class="btn btn-success navbar-btn" type="submit"><i class="fas fa-search"></i></button>
          </form>
        </ul>
        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto w-100 justify-content-end ">
          <li class="nav-item">
            <a href="{% url 'profile' user.id %}"><img src="{% static user.avatar.url %}" alt="avatar" height="42" width="42" class="rounded-circle"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' user.id %}">{{ user.username }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="{% url 'signout' %}">Log out</a>
          </li>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto w-100 justify-content-end">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'signup' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'signin' %}?next={{ request.get_full_path|urlencode }}">Sign in</a>
          </li>
        </ul>
        {% endif %}
      </div>
    </nav>
  </header>

  <div class="container-fluid">
    <div class="row mx-4">

      <div class="col-md-8">
        {% block content %}
        {% endblock content %}
      </div>


      <div class="col-md-4">
        <div class="sticky-top" style="padding-top: 5rem">

          <ul class="list-group">
            <li class="list-group-item active">Popular Tags</li>
            {% for tag in top_tags %}
              <li class="list-group-item">
                <a href="{% url 'tag' tag.name %}">{{ tag.name }}</a>
                <span class="badge badge-primary badge-pill float-right">{{ tag.question_count }}</span>
              </li>
            {% endfor %}
          </ul>

          <ul class="list-group" >
            <li class="list-group-item active">Best Members</li>
            {% for user in top_users %}
              <li class="list-group-item">
                <a href="{% url 'profile' user.id %}">{{ user.username }}</a>
              </li>
            {% endfor %}
          </ul>
        </div>
        
      </div>

    </div>
  </div>
</div>

{% block pagination %}
{% endblock pagination %}

<footer class="footer fixed-bottom rounded-top border">
  <div class="container text-right">
    <span class="text-muted">TechnoPark, 2018</span>
  </div>
</footer>

<script src="{% static "js/jquery-3.2.1.slim.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/popper.min.js" %}"></script>
<script defer src="{% static "js/fontawesome-all.js" %}"></script>
<script src="{% static "js/qSite.js" %}"></script>
</body>
</html>