{% extends "qSite/base.html" %}
{% load static %}

{% block title %}
  Sign up
{% endblock title %}

{% block content %}
<h1>Sign up</h1>
<hr>

<form method="post" action="{% url 'signup' %}" enctype="multipart/form-data" novalidate>
  {% csrf_token %}
  
  {% for error in form.non_field_errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ error }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  {% endfor %}

  <div class="form-group row">
    <label for="{{ form.username.id_for_label }}" class="col-md-2 col-form-label">Login</label>
    <div class="col-md-5">
      {{ form.login }}
      {% if form.login.errors %}
        {% for error in form.login.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
  
  <div class="form-group row">
    <label for="{{ form.email.id_for_label }}" class="col-md-2 col-form-label">Email</label>
    <div class="col-md-5">
      {{ form.email }}
      {% if form.email.errors %}
        {% for error in form.email.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.password1.id_for_label }}" class="col-md-2 col-form-label">Password</label>
    <div class="col-md-5">
      {{ form.password1 }}
      {% if form.password1.errors %}
        {% for error in form.password1.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.password2.id_for_label }}" class="col-md-2 col-form-label">Confirm password</label>
    <div class="col-md-5">
      {{ form.password2 }}
      {% if form.password2.errors %}
        {% for error in form.password2.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="form-group row">
    <label for="{{ form.avatar.id_for_label }}" class="col-md-2 col-form-label">Upload Avatar</label>
    <div class="col-md-5">
      {{ form.avatar }}
      {% if form.avatar.errors %}
        {% for error in form.avatar.errors %}
          <div class="invalid-feedback">{{ error }}</div>
        {% endfor %}
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <button type="submit" class="btn btn-secondary">Sign up</button>
    </div>
  </div>

</form>

{% endblock content %}